# only ignore files created by bootstrap
# other files (editor backups, ...) should not be added here
# but rather in .git/info/exclude (see gitignore(5) and/or gitconfig(5))
#
# build files (*.o, ...) can or not be here. I consider that it is
# better if xkaapi is not built in the source repository
# but I added most of them.

# Files from bootstrap
.gitignore
Makefile.in
/acinclude/libtool.m4
/acinclude/lt*.m4
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h.in
/config.h.in~
/configure
/libtool

# Files from compilation
TAGS
*.o
*.lo
*.a
*.la
*.dylib
.dirstamp
.deps/
.libs/
Makefile
/atha1.pc
/api/atha/check_header
/api/atha/check_header_strict
/api/kaapixx/check_header
/api/kaapixx/check_header_strict
/api/xkaapi/check_header
/api/xkaapi/check_header_strict
/config.h
/config.log
/config.status
/examples/accumulate_while_kastl
/examples/branchbound_apiatha
/examples/dgemm_cblas
/examples/dgemm_kaapi
/examples/dgemm_kaapi_flat
/examples/fiboseq
/examples/fibo_atha
/examples/fibo_xkaapi
/examples/fibo_kaapixx
/examples/fibo_kaapixx_opt
/examples/foreach_kastl
/examples/foreach_std
/examples/marc_problem
/examples/nqueens_apiatha
/examples/nqueens_apikaapi
/examples/poisson3d-kaapi
/examples/transform_adapt
/src/kaapi_check_header
/src/kaapi_check_header_strict
/examples/transform_adapt_preempt
/examples/transform_kastl
/examples/transform_std
/src/misc/kaapi_version.c
/stamp-h1
/xkaapi.pc
/xkaapi-*.tar.gz

/test-perfdesign
