/* Design : serge guelton serge / Kaapi team */

/* color*/
pre, hr, code, .file, .command, .option, h1, h2, h3, h4, h5 { color: #007676; }
pre { border:thin dashed #808080; }

pre {
    padding:2px;
    margin-left:2%;
    width:90%;
}

address {
    margin-left:1%;
}

div.contents {
    border-left:thin dashed #808080;
    margin-left:1%;
}

code, .command, .option {
    font-size:100%;
    /*border:thin dashed #808080;*/
    font-family:monospace;
    font-weight:bolder;
    padding:2px;
}

.node {
    font-size:70%;
}


a:link, a:visited, a:hover {
	color: #666666;
}

a.download:before {
    content:url(download.png);
}
/*
p a:before {
    content:url(url.png)
}
*/
dt:before {
    content:url(circle.png);
}

body {
  font-family: arial, serif;
  background-color: #ffffff;
  margin: 0px auto 10px auto;
  padding: 0px;
}

p, dl {
    margin: 5px 10px 10px 10px;
	line-height: 130%;
}

ul li {
  margin: 5px 0px 5px 0px;
}

h1 {
    font-size:200%;
    font-variant:small-caps;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

h2 {
    font-variant:small-caps;
	font-size: 110%;
    margin: 10px 10px 5px 2px;
}

h3 {
	font-size: 100%;
    margin: 10px 10px 5px 4px;
}
h4 {
	font-size: 100%;
    margin: 10px 10px 5px 6px;
}
h5 {
	font-size: 100%;
    margin: 10px 10px 5px 8px;
}

.menu {
  margin-top: 5px;
  margin-bottom: 15px;
  list-style-image: url("arrow.png");
}
	

ul {
  margin-top: 5px;
  margin-bottom: 15px;
  list-style-image: url("arrow.png");
}

hr {
  border: 1;
  width: 80%;
  text-align:left;
}

